@use 'variaveis';

.hero {
  padding: 56px 0 16px 0;

  @media (max-width:768px) {
    padding: 90px 0 16px 10px;

  }


  &__logo {
    max-width: 100%;
    width: 350px;

    @media (max-width:768px) {
      max-width: 100%;
      width: 144px;

    }

  }

  &__class {
    display: flex;
    align-items: center;


    &__filme {
      max-height: 20px;
      margin: 5px;
    }
  }
}