
$corDeFundo: #040714;
$corTextoPrincipal:#f9f9f9;
$corTextoSecundario: silver;
$corDeFundoBotaoPrimario: #0063e5;
$corDeFundoBotaoSecundario: #0063e5;
$corDeFundoBotaoDark: #000;
$corTextoDuracao:#cacaca;

$fundo: url(../../dist/images/images/backred.jpg);

